# Backend
backend/venv/
backend/__pycache__/
*.pyc

backend/app/__pycache__

backend/app/*.pyc
**/__pycache__/
backend/app/__pycache__/
backend/app/__pycache__
backend/app/__pycache__/

app/__pycache__
