<div class="form-container">
  <div class="form-card">
    <h2>Nueva Tarea</h2>

    <div class="input-group">
      <label>Título</label>
      <input [(ngModel)]="task.title" placeholder="Ej: Primera Tarea">
    </div>

    <div class="input-group">
      <label>Descripción</label>
      <input [(ngModel)]="task.description" placeholder="Detalles de la tarea...">
    </div>

    <div class="row">
      <div class="input-group">
        <label>Asignado/a a</label>
        <input [(ngModel)]="task.assignee" placeholder="Nombre del responsable">
      </div>

      <div class="input-group">
        <label>Fecha de entrega</label>
        <input [(ngModel)]="task.dueDate" type="date">
      </div>
    </div>

    <div class="input-group">
      <label>Estado inicial</label>
      <select [(ngModel)]="task.status">
        <option value="TODO">POR HACER</option>
        <option value="IN_PROGRESS">EN PROCESO</option>
        <option value="DONE">COMPLETADO</option>
      </select>
    </div>

    <button class="btn-submit" (click)="createTask()">
      <span class="material-icons">add_task</span>
      Crear Tarea
    </button>
  </div>
</div>
