<h2>Lista de tareas</h2>

<div *ngFor="let task of tasks" style="border:1px solid #ccc; padding:10px; margin:6px;">
  <h3>{{task.title}}</h3>
  <p>{{task.description}}</p>
  <p><b>👤 Asignado:</b> {{task.assignee}}</p>
  <p>
    Estado:
    <b [ngStyle]="{
      color: task.status === 'DONE' ? 'green' :
             task.status === 'IN_PROGRESS' ? 'orange' : 'red'
    }">
      {{task.status}}
    </b>
  </p>

  <button (click)="editTask(task)">Editar</button>
  <button (click)="deleteTask(task.id!)">Eliminar</button>

</div>
