<h2>Lista de tareas</h2>

<div *ngFor="let task of tasks" style="border:1px solid #ccc; padding:10px; margin:6px;">
  <h3>{{task.title}}</h3>
  <p>{{task.description}}</p>
  <p><b>👤 Asignado/a a:</b> {{task.assignee}}</p>
  <p>
    Estado:
    <b [ngStyle]="{
      color: task.status === 'DONE' ? 'green' :
             task.status === 'IN_PROGRESS' ? 'orange' : 'red'
    }">
      {{task.status}}
    </b>
  </p>

  <button (click)="changeStatus(task)" class="btn-status" [ngClass]="{
    'todo': task.status === 'TODO',
    'progress': task.status === 'IN_PROGRESS',
    'done': task.status === 'DONE'
  }">
    <span class="material-icons">sync</span>
    {{ task.status.replace('_', ' ') }}
  </button>

  <button (click)="deleteTask(task.id!)" class="btn-delete">
    <span class="material-icons">delete</span>
  </button>
</div>
